<div id="<%= dom_id student_borrow %>">
  <p>
  <br>
    <strong>Idstudent 258:</strong>
    <%= student_borrow.idStudent_258 %>
  </p>

  <p>
  <br>
    <strong>Fullname 258:</strong>
    <%= student_borrow.fullname_258 %>
  </p>

  <p>
  <br>
    <strong>Class 258:</strong>
    <%= student_borrow.class_258 %>
  </p>

  <p>
  <br>
    <strong>Idbook 258:</strong>
    <%= student_borrow.idbook_258 %>
  </p>

  <p>
  <br>
    <strong>Namebook 258:</strong>
    <%= student_borrow.namebook_string %>
  </p>

  <p>
  <br>
    <strong>Author 258:</strong>
    <%= student_borrow.author_258 %>
  </p>

  <p>
  <br>
    <strong>Category 258:</strong>
    <%= student_borrow.category_258 %>
  </p>

  <p>
  <br>
    <strong>Idbm 258:</strong>
    <%= student_borrow.idBM_258 %>
  </p>

  <p>
    <strong>Dateborrow 258:</strong>
    <%= student_borrow.dateBorrow_258 %>
  </p>

  <p>
    <strong>Dateback 258:</strong>
    <%= student_borrow.dateBack_258 %>
  </p>

</div>
