<p style="color: green"><%= notice %></p>

<%= render @student_borrow %>

<div>
  <%= link_to "Edit this student borrow", edit_student_borrow_path(@student_borrow) %> |
  <%= link_to "Back to student borrows", student_borrows_path %>

  <%= button_to "Destroy this student borrow", @student_borrow, method: :delete %>
</div>
